.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  .form {
    margin-bottom: 10px;
    input {
      padding: 5px;
      margin-bottom: 3px;
    }
    input:not(:valid) {
      background: mix(red, black, 50);
      color: white;
    }
  }
  .output {
    line-height: 150%;
    text-align: left;
  }
}

.coming:after {
  content: " .";
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0%, 100% {
    content: "";
  }
  25% {
    content: " .";
  }
  50% {
    content: " . .";
  }
  75% {
    content: " . . .";
  }
}
